<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>show_drawer</key>
	<true/>
	<key>preferred_drawer_side</key>
	<integer>0</integer>
	<key>drawer_width</key>
	<integer>200</integer>
	<key>windowed_mode</key>
	<integer>0</integer>
	<key>SendWindowsKey</key>
	<true/>
	<key>reconnectFullScreen</key>
	<true/>
	<key>resizeViewToFit</key>
	<true/>
	<key>MinimalServerList</key>
	<false/>
	<key>IgnoreModifierKeyCustomizations</key>
	<true/>
	<key>SetServerKeyboardLayout</key>
	<true/>
	
</dict>
</plist>