<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CRDUseSocksProxy</key>
	<false/>
	<key>CRDLogLevel</key>
	<integer>3</integer>
	<key>CRDForwardOnlyDefinedPaths</key>
	<false/>
	<key>CRDForwardedPaths</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Root</string>
			<key>path</key>
			<string>/</string>
		</dict>
	</array>
	<key>show_drawer</key>
	<true/>
	<key>preferred_drawer_side</key>
	<integer>0</integer>
	<key>drawer_width</key>
	<integer>200</integer>
	<key>CRDBaseConnectionColors</key>
	<string>Thousands</string>
	<key>CRDBaseConnectionScreenSize</key>
	<string>1024x640</string>
	<key>CRDBaseConnectionForwardDisks</key>
	<false/>
	<key>CRDBaseConnectionForwardPrinters</key>
	<false/>
	<key>CRDBaseConnectionForwardAudio</key>
	<integer>2</integer>
	<key>CRDBaseConnectionDrawDesktop</key>
	<false/>
	<key>CRDBaseConnectionWindowDrags</key>
	<false/>
	<key>CRDBaseConnectionWindowAnimation</key>
	<false/>
	<key>CRDBaseConnectionThemes</key>
	<true/>
	<key>CRDBaseConnectionFontSmoothing</key>
	<true/>
	<key>windowed_mode</key>
	<integer>0</integer>
	<key>CRDScreenResolutions</key>
	<array>
		<dict>
			<key>resolution</key>
			<string>Full Screen</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>600x480</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>800x600</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1024x640</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1024x768</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1280x800</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1280x1024</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1440x900</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1920x1080</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1920x1200</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1680x1050</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>1600x1200</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>2400x1500</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>2560x1600</string>
		</dict>
	</array>
	<key>SendWindowsKey</key>
	<true/>
	<key>reconnectFullScreen</key>
	<true/>
	<key>ReconnectWhenLeavingFullScreen</key>
	<false/>
	<key>resizeViewToFit</key>
	<true/>
	<key>MinimalServerList</key>
	<false/>
	<key>IgnoreModifierKeyCustomizations</key>
	<true/>
	<key>SetServerKeyboardLayout</key>
	<true/>
	<key>SUUpdateType</key>
	<string>Stable Releases</string>
</dict>
</plist>
