<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rdp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rdp document</string>
			<key>CFBundleTypeName</key>
			<string>Remote Desktop Connection</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RDP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Remote Desktop Protocol Server</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rdp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleHelpBookFolder</key>
	<string>CoRD Help</string>
	<key>CFBundleHelpBookName</key>
	<string>CoRD Help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>CoRD</string>
	<key>CFBundleIdentifier</key>
	<string>net.sf.cord</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>RDC#</string>
	<key>CFBundleExecutable</key>
	<string>CoRD</string>
	<key>CFBundleName</key>
	<string>CoRD</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0 Beta 2</string>
	<key>CFBundleVersion</key>
	<string>322</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CRDApplication</string>
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	<key>OSAScriptingDefinition</key>
	<string>CoRD.sdef</string>
	<key>SUFeedURL</key>
	<string>http://cord.sourceforge.net/sparkle.xml</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>CoRD Project</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-0E940983EA</string>
</dict>
</plist>
