body {	
	margin: 0;
	font-family:"Lucida Grande","Helvetica Neue",sans-serif; 
}

h1 {	
	font-size: 12pt; 
	font-family: "Lucida Grande", Arial, sans-serif; 
	font-weight: 600;
	margin: 2em auto 0; 
}
		
h2 {	
	font-size: 10pt;
	font-family: "Lucida Grande", Arial, sans-serif; 
	font-weight: 600;
	margin: 10px auto 8px auto; 
}

h4 {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif; 
	font-weight: 300;
	margin: 25px auto; 
}

p {	
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	text-decoration: none; 
}
		
a { 
	color: #00f;
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	text-decoration: none; 
}

ul {	
	list-style: none; 
	margin-left:25px;		
	padding: 0; 
}
		
p {	
	font-size: 9pt; 
	margin:5px;
}

li {	
	font-size: 9pt;
	margin-bottom:6px;
}

a:hover {	
	color: #00f;
	text-decoration: underline; 
}

strong {
	font-weight: bold;
}

#entirepage { 
	margin: 2em .75em; 
}

#breadcrumbbar {	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1.2em;
	background-color: #f2f2f2;
	border-bottom: 1px solid #bfbfbf;
	padding: 0px .6em;
	margin: 0 0 5em 0; 
}

.bread {	
	color: #00f;
	font-size: 8pt;
	margin: -9px 0 -6px; 
}


table th,td {
	padding-left:15px;
	padding-right:15px;
}
table tbody td.hotkey {
	font-family: "Courier New";
	text-align:right;
}